<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.html') %>
<body>

    <%- include('./partials/nav.html') %>
    
    <h1>this is an ABOUT page</h1>
    <p>this is the about page</p>,<br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum mollitia, odit, minima expedita, deserunt modi iste numquam ipsa dolores eveniet fugit. Ab, quam inventore! Maxime nemo reprehenderit voluptate alias corrupti?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum mollitia, odit, minima expedita, deserunt modi iste numquam ipsa dolores eveniet fugit. Ab, quam inventore! Maxime nemo reprehenderit voluptate alias corrupti?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum mollitia, odit, minima expedita, deserunt modi iste numquam ipsa dolores eveniet fugit. Ab, quam inventore! Maxime nemo reprehenderit voluptate alias corrupti?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum mollitia, odit, minima expedita, deserunt modi iste numquam ipsa dolores eveniet fugit. Ab, quam inventore! Maxime nemo reprehenderit voluptate alias corrupti?</p>
</body>
</html>